<%= form_with(model: @product, class: "needs-validation") do |form| %>
  <% if product.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :category_id, class: "form-label" %>
    <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: "Select a Category" }, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :price, class: "form-label" %>
    <%= form.text_field :price, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :brand_id, class: "form-label" %>
    <%= form.collection_select :brand_id, Brand.all, :id, :name, { prompt: "Select a Brand" }, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
