<%# rubocop:disable Lint/Syntax %>
<% if notice %>
  <div class="flash-notice"><%= notice %></div>
<% end %>

<% content_for :title, "Products" %>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Brand</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= product.brand&.name || "N/A" %></td>
        <td><%= product.category&.name || "N/A" %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= button_to 'Delete', product, method: :delete, class: 'button', form: { data: { turbo_confirm: 'Are you sure?' } } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "New product", new_product_path %>
